<configuration>
    <property resource="variables.properties"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/log.txt</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logging_level}">
        <appender-ref ref="file" />
    </root>
</configuration>